@import url("../style.css");

.quiz-details {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.options-container {
  width: 100%;
}
.option {
  height: 10vh;
  background-color: var(--light-black);
  margin-top: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
