@import url("../style.css");

a {
  color: var(--lynx-white);
}

.quiz-details {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.options-container {
  width: 100%;
}
.option {
  height: 10vh;
  background-color: var(--light-black);
  margin-top: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer {
  cursor: default;
}

.answer:hover {
  box-shadow: none;
}

.wrong-answer {
  background-color: var(--danger-light);
}
.right-answer {
  background-color: var(--action-dark);
}
